@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Configuramos el color institucional directamente en el CSS para v4 */
@theme {
  --color-palmas: #8dc63f;
}